<div class="card">
  <p-table
    [value]="products"
    [scrollable]="true"
    [resizableColumns]="true"
    styleClass="p-datatable-gridlines"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <div class="flex">Products</div>
        <div class="flex">
          <p-button
            icon="pi pi-plus"
            label="Tambah Produk"
            (click)="showAddProductDialog()"
          />
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Category</th>
        <th>description</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.name }}</td>
        <td>
          <img
            [src]="
              product.urlImage
            "
            [alt]="product.name"
            width="100"
            class="shadow-4"
          />
        </td>
        <td>{{ product.price }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.description }}</td>
        <td><p-inputSwitch [(ngModel)]="product.isActivated" /></td>
      </tr>
    </ng-template>
    <ng-template #noProducts>
      <div class="text-center p-5">
        <p>No products to display.</p>
      </div>
    </ng-template>
  </p-table>
  <ng-template #noProducts>
    <div class="text-center p-5">
      <p>No products to display.</p>
    </div>
  </ng-template>
</div>
<app-add-product (productAdded)="getProducts()"></app-add-product>
