<!-- <p-dialog
  header="Tambah Produk"
  [modal]="true"
  class="mr-2 px-4"
  [style]="{ width: '90vw' }"
  [(visible)]="visible"
>
  <div class="formgrid grid">
    <div class="field col">
      <label for="nama" class="font-bold block mb-2 text-base">Nama</label>
      <input pInputText id="nama" class="w-full" />
    </div>
    <div class="field col">
      <label for="kategori" class="font-bold block mb-2 text-base"
        >Kategori</label
      >
      <p-dropdown
        [options]="foods"
        [(ngModel)]="selectedfoods"
        optionLabel="name"
        placeholder="pilih kategori"
        class="w-full"
        [style]="{ 'min-width': '15rem' }"

      ></p-dropdown>
    </div>
  </div>
  <div class="flex-wrap mb-4">
    <label for="harga" class="font-bold block mb-2 text-base">Harga</label>
    <input pInputText id="harga" type="number" class="w-full" />
  </div>

  <div class="flex-auto mb-4">
    <label for="gambar" class="font-bold block mb-2 text-base">Gambar</label>
    <div class="my-4 flex justify-content-start">
      <p-toast />
      <p-fileUpload
        mode="basic"
        chooseLabel="Choose"
        chooseIcon="pi pi-upload"
        name="demo[]"
        accept="image/*"
        maxFileSize="1000000"
        class="w-full"
      ></p-fileUpload>
    </div>
  </div>

  <div class="flex-auto mb-4">
    <label for="keterangan" class="font-bold block mb-2 text-base"
      >Keterangan</label
    >
    <textarea
      rows="5"
      cols="20"
      pInputTextarea
      [(ngModel)]="value"
      class="w-full"
    ></textarea>
  </div>
  <div class="flex-auto mb-4">
    <label for="status" class="font-bold block mb-2 text-base">Status</label>
    <p-inputSwitch [(ngModel)]="checked" class="w-full"></p-inputSwitch>
  </div>

  <div class="flex justify-content-end gap-2">
    <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
    <p-button label="Save" (onClick)="visible = false" />
  </div>
</p-dialog> -->

<p-dialog
  header="Tambah Produk"
  [modal]="true"
  [style]="{ 'max-width': '90vw', 'min-width': '45vw' }"
  class="mr-2 px-4"
  [(visible)]="visible"
>
  <form [formGroup]="productForm">
    <div class="formgrid grid">
      <div class="field col">
        <label for="nama" class="font-bold block mb-2 text-base">Nama</label>
        <input pInputText id="nama" class="w-full" formControlName="name" />
      </div>
      <div class="field col">
        <label for="kategori" class="font-bold block mb-2 text-base"
          >Kategori</label
        >
        <p-dropdown
          [options]="categories"
          [(ngModel)]="selectedCategory"
          optionLabel="name"
          placeholder="pilih kategori"
          class="w-full"
          [style]="{ 'min-width': '100%' }"
          formControlName="category"
        ></p-dropdown>
      </div>
    </div>
    <div class="flex-wrap mb-4">
      <label for="harga" class="font-bold block mb-2 text-base">Harga</label>
      <input pInputText id="harga" type="number" class="w-full md:w-3/4" 
      formControlName="price"
      />
    </div>

    <div class="flex-auto mb-4">
      <label for="gambar" class="font-bold block mb-2 text-base">Gambar</label>
      <div class="my-4 flex justify-content-start">
        <p-toast />
        <p-fileUpload
          mode="basic"
          chooseLabel="Choose"
          chooseIcon="pi pi-upload"
          name="demo[]"
          accept="image/*"
          maxFileSize="1000000"
          class="w-full md:w-3/4"
        ></p-fileUpload>
      </div>
    </div>

    <div class="flex-auto mb-4">
      <label for="keterangan" class="font-bold block mb-2 text-base"
        >Keterangan</label
      >
      <textarea
        rows="5"
        cols="20"
        pInputTextarea
        class="w-full md:w-3/4"
        formControlName="description"

      ></textarea>
    </div>
    <div class="flex-auto mb-4">
      <label for="status" class="font-bold block mb-2 text-base">Status</label>
      <p-inputSwitch class="w-full md:w-3/4" 
        formControlName="isActivated"
      ></p-inputSwitch>
    </div>
    <div class="flex justify-content-end gap-2 mt-4">
      <p-button
        label="Cancel"
        severity="secondary"
        (onClick)="visible = false"
        class="w-full md:w-auto"
      />
      <p-button label="Save" (click)="saveProduct()" class="w-full md:w-auto" />
    </div>
  </form>
</p-dialog>


